<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">
                <span class="gradient">НЕ</span> залишся байдужим допоможи знайти
                <span class="gradient">домівку</span>
            </h1>
            <div class="hero__text">
                На даний момент чимало притулків для тварин є переповненими. 
                У зв'язку з чим пухнастики проживають в гірших умовах. 
                Наш сайт підтримує  благодійні внески для притулків, щоб дізнатися більше клікайте "Детальніше". 
                Донат для чотирилапих друзів чекає на Вас "Підтримайте нас"
            </div>
            <div class="btn-block">
                <a href="#" class="hero__button button">Підтримайте Нас</a>
                <a href="#" class="hero__button button button--transparent">
                    <span class="grad-text">Детальніше</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="about__container">
        <div class="about__images">
            <div class="about__image-card about__image-card--opposite about__image-card--sh1">
                <img class="about__image" src="../../../../../assets/images/img/back-full.png" alt="Image">
            </div>
            <div class="about__image-card about__image-card--sh2">
                <img class="about__image" src="../../../../../assets/images/img/blog_art-3.jpg" alt="Image">
            </div>
            <div class="about__image-card about__image-card--sh3">
                <img class="about__image " src="../../../../../assets/images/img/blog_art-3.jpg" alt="Image">
            </div>
            <div class="about__image-card about__image-card--opposite about__image-card--sh4">
                <img class="about__image" src="../../../../../assets/images/img/back-full.png" alt="Image">
            </div>
        </div>
        <div class="about__content">
            <h2 class="about__title">Про <span>нас</span></h2>
            <p class="about__text">
                Вітаю! Ми команда Logic Legends, свою діяльність розпочали із 2023 року завдяки відомій IT компанії SoftServe. 
                Ретельно проаналізувавши запити користувачів ми спробували створити унікальний сайт для власників собак.
                Тут Ви знайдете безліч цікавої інформації, отримаєте нові знання стосовно догляду своїх чотирилапих друзів, 
                зможете поспілкуватися з однодумцями на нашому форумі, а також використовувати інтерактивну карту із pet friendly закладами. 
                І це ще далеко не весь перелік можливостей, приєднуйтеся!
            </p>
            <a routerLink="/about" class="about__link button--orange _icon-arrow-right">Читати далі</a>
        </div>
    </div>
</section>
<section class="blog">
    <div class="blog__container">
        <div class="blog__row">
            <div class="blog__col blog__col--title-col">
                <h2 class="blog__title">Долучайтесь до нашого <span>блогу</span></h2>
                <p class="blog__text">
                    Отримуйте корисну інформацію про ваших улюбленців, їхній раціон, місця прогулянки та багато інших цікавинок. 
                    Все це відкривається перед Вами одним кліком на наш блог.
                </p>
                <a href="/blog" class="blog__link button--orange _icon-arrow-right">Читати далі</a>
            </div>
            <div class="blog__col blog__col--swiper-col">
                <app-swiper class="blog__app-swiper"></app-swiper>
            </div>
        </div>
    </div>
</section>
<section class="search">
    <div class="search__container">
        <h1 class="search__title">Допоможи віднайти <span>шлях додому</span></h1>
        <p class="search__text">
            Завдяки комфортному інтерфейсу нашого сайту Ви маєте змогу в два кліки створити оголошення про загублених/знайдених пухнастиків!
        </p>
        <div class="search__cards">
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <div class="card__categories">
                            <span class="card__category _icon-breed">Порода</span>
                            <span class="card__category _icon-location-full">Локація</span>
                            <span class="card__category _icon-gender">Стать</span>
                        </div>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
        </div>
        <a href="/searchpage" class="search__link button--orange _icon-arrow-right">Дивитись далі</a>
    </div>
</section>
