<div class="content">
    <div class="row">
        <div class="col">
            <div class="ref-part">
                <span class="ref-part__title">Вже готовий приєднатись до нашої спільноти?</span>
                <button (click)="modalService.open('modal-2')" class="ref-part__link">Зареєструватися</button>
            </div>
        </div>
        <div class="col">
            <h1 class="title">Увійти</h1>
            <span class="caption">Увійти як користувач</span>
            <ul class="social">
                <li class="social__item"><a href="#" class="social__link _icon-instagram"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-facebook"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-twitter"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-youtube"></a></li>
            </ul>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset class="registration__inputs">
                    <input class="registration__input-email" type="email" placeholder="@email" formControlName="email">
                    <div *ngIf="submitted && f['email'].errors?.['required']" class="error-message">Поле не може бути порожнім</div>
                    <div *ngIf="submitted && f['email'].errors?.['email']" class="error-message">Неправильний формат електронної адреси</div>
                    
                    <div class="password-container">
                        <input class="registration__input-password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="password" formControlName="password">
                        <img *ngIf="!isPasswordVisible; else closedEye" src="../../../../assets/images/img/closed_eye.png" alt="open-eye" class="eye-icon" (click)="togglePasswordVisibility()">
                        <ng-template #closedEye>
                            <img src="../../../../assets/images/img/eye.png" alt="closed-eye" class="eye-icon hide-password" (click)="togglePasswordVisibility()">
                        </ng-template>
                    </div>
                    <div *ngIf="submitted && f['password'].errors?.['required']" class="error-message">Поле не може бути порожнім</div>
                    <div *ngIf="submitted && f['password'].errors?.['minlength']" class="error-message">Пароль повинен містити принаймні 8 символів</div>
                    
                    <a class="registration__reset-psw" href="#">Забули пароль?</a>
                    <button class="registration__button button" type="submit">Увійти</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
